.market-changes {
	margin-top: 2.9rem;	
}

.market-changes h3 {
	font-size: calc(10px + 0.8vw);
	font-weight: 400;
	margin: 1rem 0 2rem 14px;
}

.market-changes .changes {
	display: flex;
	justify-content: center;
	padding: 0 0.5rem;
}

.market-changes .currency-change {
	flex-basis: 0;
	flex-grow: 1;
}

.currency-change h4 {
	font-size: calc(9px + 0.8vw);
	margin-bottom: 4px;
	text-align: center;
}

.currency-change .change-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

.currency-change .change {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.currency-change .change-time-period {
	font-size: calc(8px + 0.8vw);
	opacity: 0.6;
}

.currency-change .change-percentage {
	font-size: calc(10px + 0.8vw);
}

.change-percentage.loss {
	color: red;
}

.change-percentage.profit {
	color: #090;
}