#crypto-card-wrapper > .loading {
	margin-top: 1rem;
	margin-left: 4px;
}

.crypto-card {
	margin-top: 1rem;
	border-radius: 8px;
	padding: 1rem 4px 3rem;
	height: 340px;
	background: linear-gradient(180deg, #F7F7F7 70%, var(--card-modal) 100%);
	box-shadow: 0 2px 10px 1px var(--card-modal);
	transition: background-color 1s linear;
	position: relative;
	overflow: hidden;
}

@media screen and (min-width: 600px) {
	.crypto-card {
		height: 360px;
	}
}

.crypto-card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 200vh;
	background-color: #EFEFEF88;
	box-shadow: 0 0 30px 8px #EFEFEF88;
	animation-name: shine;
	animation-duration: calc(20s);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes shine {
	0% {
		transform: rotate(-45deg) translateX(0%);
	}

	10% {
		transform: rotate(-45deg) translateX(200vw);
	}

	100% {
		transform: rotate(-45deg) translateX(200vw);
	}
}