#header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	margin-bottom: 2rem;
}

#header .title {
	font-size: calc(10px + 0.4vw);
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #2F2F39;
}

#header .title span {
	font-style: italic;
}

#links svg {
	width: calc(1rem + 1vw);
	height: calc(1rem + 1vw);
}

#links svg.github-repository path {
	fill: black;
}