#header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
}

#header .title {
	font-size: 12px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #2F2F39;
}

#header .title span {
	font-style: italic;
}

#links svg.github-repository path {
	fill: black;
}