#select {
	display: flex;
	position: relative;
	align-items: center;
	gap: 4px;
}

#select .dropdown {
	width: 200px;
}

#select .dropdown > * {
	width: inherit;
}

#select input[type="search"] {
	font-size: calc(10px + 0.5vw);
	padding: 4px 8px;
	border: 2px solid #CACACA;
	color: #292929;
	caret-color: #A5A5A5;
	border-radius: 4px;
}

#select > button {
	font-size: calc(8px + 0.5vw);
	background-color: #EDEDED;
	border: 1px solid #C5C5C5;
	border-radius: 4px;
	padding: 4.8px 8px;
	outline: none;
}

#select > button:hover,
#select > button:focus {
	background-color: #E4E4E4;
}

#select .currencies {
	display: flex;
	flex-direction: column;
	gap: 3px;
	position: absolute;
	cursor: pointer;
	border: 1px solid #C5C5C5;
	margin-top: 2px;
	background-color: #EFEFEF;
	font-size: 14px;
	z-index: 10;
}

#select .currencies.is-empty {
	display: none;
}

#select .currency {
	padding: 4px 12px;
}

#select .currency.is-dropdown-select {
	background-color: #C3C3C3;
}

#select .currency.is-selected {
	background-color: #33d;
	color: #fff;
}

#select .currency:not(.is-selected):hover {
	background-color: #E9E9E9;
}